<html>
<head>
    <title>Inventory</title>
</head>
<body>
    <h1>You added an item to you Inventory!</h1>
    <p> {{newitem.getDescription}} </p>
        <p><a href='/'>View your inventory</a></p>
</body>
</html>
